<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138644976851-uksdudfu6ec0sh4pr6k7c9kar64g2f5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138644976851-uksdudfu6ec0sh4pr6k7c9kar64g2f5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBoKYoxv5GKLSy2A-BnilppMnrpSYGXi_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>138644976851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ansh.mynotes</string>
	<key>PROJECT_ID</key>
	<string>ansh-test-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>ansh-test-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138644976851:ios:dfd289869cd7678c0f5026</string>
</dict>
</plist>